@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/inter-bureau');


.bg{
  background-image: url('https://cdn.wallpapersafari.com/20/80/jQPMT3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.active p{
  border-top: solid 1px greenyellow;
}

.btf{
  border-radius: 50px;
background: #5d5d5d31;
box-shadow:  18px 18px 36px #292929,
             -18px -18px 36px #373737;
}


@media(max-width:768px){
  .txt{
    text-align: center
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;